<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, height = device-height, initial-scale = 1">
    <title>경매왕</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.7.0.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .main-head {
            height: 150px;
            background: #FFF;

        }

        .sidenav {
            height: 100%;
            background-color: #000;
            overflow-x: hidden;
            padding-top: 20px;
        }


        .main {
            padding: 0px 10px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }
        }

        @media screen and (max-width: 450px) {
            .login-form {
                margin-top: 10%;
            }

            .register-form {
                margin-top: 10%;
            }
        }

        @media screen and (min-width: 768px) {
            .main {
                margin-left: 40%;
            }

            .sidenav {
                width: 40%;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
            }

            .login-form {
                margin-top: 80%;
            }

            .register-form {
                margin-top: 20%;
            }
        }


        .login-main-text {
            margin-top: 20%;
            padding: 60px;
            color: #fff;
        }

        .login-main-text h2 {
            font-weight: 300;
        }

        .btn-black {
            background-color: #000 !important;
            color: #fff;
        }

    </style>
    <script>
        var socket;

        $(function() {

            $("#inputButton").bind('click', function(e) {
                messageToServer();
                clearInputArea();
            });

            $("#inputMessage").keydown(function(e) {
                if (e.keyCode == 13) {
                    messageToServer();
                    clearInputArea();
                }
            });

        });

        // 서버에 연결하는 함수 정의
        function connectToServer() {

            socket = io();

            socket.on('connect', function() {
                println('실시간 경매장에 연결되었습니다.');

                socket.on('message', function(message) {
                    //console.log(JSON.stringify(message));

                    println(message.sender + ':' + message.data);
                });
            });

            socket.on('disconnect', function() {
                println('실시간 경매장이 종료되었습니다.');
            });
        }

        function messageToServer() {
            var sender = document.getElementById('userID').innerHTML;
            var recepient = "ALL";
            var data = $('#inputMessage').val();

            //console.log(sender + recepient + data);

            var output = {
                sender: sender,
                recepient: recepient,
                command: 'chat',
                type: 'text',
                data: data
            };
            //console.log('서버로 보낼 데이터 : ' + JSON.stringify(output));

            if (socket == undefined) {
                alert('서버에 연결되어 있지 않습니다. 먼저 서버에 연결하세요.');
                return;
            }

            socket.emit('message', output);
        }

        function clearInputArea() {
            var inputArea = document.getElementById('inputMessage');
            inputArea.value = "";
        }

        function println(data) {
            var chatLog = document.getElementById('chatLog');
            chatLog.innerHTML += data + "<br>";
            chatLog.scrollTop = chatLog.scrollHeight;
        }

    </script>
</head>

<body>
    <div class="sidenav" onclick="location.href='/'">
        <div class="login-main-text">
            <h2>경매왕<br><br> 홈 페이지</h2>
            <p>경매왕에 오신 걸 환영합니다.</p>
        </div>
    </div>
    <div class="main">
        <div style="background-color:black; width:100%; height:100px"></div>
        <div style="display:flex">
            <div style="flex:1;text-align:center;border:1px solid black">
                <%if(message == "login"){%>
                <a href="/login" style="color:black;">로그인</a>
                <%} else {%>
                <a href="/logout" style="color:black;">로그아웃</a>
                <%}%>
            </div>
            <div style="flex:1;text-align:center;border:1px solid black">
                <a href="/profile" style="color:black;">나의 정보</a>
            </div>
            <div style="flex:1;text-align:center;border:1px solid black">
                <a href="/auction" style="color:black;">경매 게시판</a>
            </div>
        </div>
        <div>
            <%if(message == "login"){%>
                <img src="../public/images/auction.jpg" style="width:100%; margin-top:5%">
                <%}else{%>
                <h3><span class="fa fa-user"></span>실시간 경매장</h3>
                <script>
                    connectToServer();

                </script>
                <div id="chatLog" style="width:95%;height:750px;border:1px solid black; overflow:auto;overflow-x:hidden;"></div>
                <div style="margin-top:5px">
                    <span id="userID"><%=user.id%></span>
                    <input id="inputMessage" type="text" style="width:75%">
                    <input id="inputButton" type="button" class="btn btn-black" value="전송">
                </div>
                <%}%>
        </div>
    </div>
</body>

</html>
